@model Repair_shop.Models.LinhKien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LinhKien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.partName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.partName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.partInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.partInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.partDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.partDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
